# Ignore paths that contain user-generated content.
docroot/files
docroot/sites/*/files
docroot/sites/*/private
.idea/*
*.DS_Store
local.db.inc
/docroot/sites/default/local.db.inc
acquia-files
/mysql-data
