[mysqld]
max_allowed_packet = 16M
innodb_buffer_pool_size = 1000000000
innodb_log_file_size = 512M
innodb_flush_log_at_trx_commit = 0

[mysqld_safe]
max_allowed_packet = 16M
innodb_buffer_pool_size = 1000000000
innodb_log_file_size = 512M
innodb_flush_log_at_trx_commit = 0